In [1]:
import pandas as pd

In [2]:
df = pd.read_json('./trafficflow.json')
df['Value'][0]

{'LinkID': '103000122',
 'Date': '01/03/2024',
 'HourOfDate': '7',
 'Volume': '3549',
 'StartLon': '103.6944089',
 'StartLat': '1.350438529',
 'EndLon': '103.6944089',
 'EndLat': '1.350438529',
 'RoadName': 'PAN ISLAND EXPRESSWAY',
 'RoadCat': 'CAT1'}

In [3]:
def adjust_date(info):
    date_parts = info['Date'].split('/')
    if date_parts[2] == '2023' and date_parts[1] == '11':
        # Change year from 2023 to 2024 and month from 11 to 03
        info['Date'] = f'{date_parts[0]}/03/2024'
    return info

df['Value'] = df['Value'].apply(adjust_date)

In [4]:
df['Value'][:10]

0    {'LinkID': '103000122', 'Date': '01/03/2024', ...
1    {'LinkID': '103000122', 'Date': '01/03/2024', ...
2    {'LinkID': '103000122', 'Date': '02/03/2024', ...
3    {'LinkID': '103000122', 'Date': '02/03/2024', ...
4    {'LinkID': '103000122', 'Date': '03/03/2024', ...
5    {'LinkID': '103000122', 'Date': '03/03/2024', ...
6    {'LinkID': '103000122', 'Date': '04/03/2024', ...
7    {'LinkID': '103000122', 'Date': '04/03/2024', ...
8    {'LinkID': '103000122', 'Date': '05/03/2024', ...
9    {'LinkID': '103000122', 'Date': '05/03/2024', ...
Name: Value, dtype: object

In [6]:
df = df.join(pd.json_normalize(df['Value'])).drop('Value', axis=1)
df

,LastUpdatedDate,LinkID,Date,HourOfDate,Volume,StartLon,StartLat,EndLon,EndLat,RoadName,RoadCat
0,2024-02-02,103000122,01/03/2024,7,3549,103.6944089,1.350438529,103.6944089,1.350438529,PAN ISLAND EXPRESSWAY,CAT1
1,2024-02-02,103000122,01/03/2024,8,4187,103.6944089,1.350438529,103.6944089,1.350438529,PAN ISLAND EXPRESSWAY,CAT1
2,2024-02-02,103000122,02/03/2024,7,3681,103.6944089,1.350438529,103.6944089,1.350438529,PAN ISLAND EXPRESSWAY,CAT1
3,2024-02-02,103000122,02/03/2024,8,4178,103.6944089,1.350438529,103.6944089,1.350438529,PAN ISLAND EXPRESSWAY,CAT1
4,2024-02-02,103000122,03/03/2024,7,3615,103.6944089,1.350438529,103.6944089,1.350438529,PAN ISLAND EXPRESSWAY,CAT1
...,...,...,...,...,...,...,...,...,...,...,...
78734,2024-02-02,118001452,28/03/2024,8,2647,103.7029397,1.3613701,103.7029397,1.3613701,KRANJI EXPRESSWAY,CAT1
78735,2024-02-02,118001452,29/03/2024,7,2104,103.7029397,1.3613701,103.7029397,1.3613701,KRANJI EXPRESSWAY,CAT1
78736,2024-02-02,118001452,29/03/2024,8,2651,103.7029397,1.3613701,103.7029397,1.3613701,KRANJI EXPRESSWAY,CAT1
78737,2024-02-02,118001452,30/03/2024,7,2065,103.7029397,1.3613701,103.7029397,1.3613701,KRANJI EXPRESSWAY,CAT1
78738,2024-02-02,118001452,30/03/2024,8,2720,103.7029397,1.3613701,103.7029397,1.3613701,KRANJI EXPRESSWAY,CAT1

In [ ]:
df.to_json('./trafficflow.json', orient='records')

In [7]:
df.to_csv('traffic_flow.csv')